# Main webapp
Django==2.2

# Database
psycopg2==2.8.2

# Web server
gunicorn>=19.9.0,<20
whitenoise>=4.1.2,<4.2

# REST framework
djangorestframework>=3.9.3,<4
django-cors-headers>=2.5.3,<3
djangorestframework-bulk>=0.2.1,<1

# Documentation
drf-yasg>=1.15.0,<2

# Health Check
django-health-check>=3.10.2

# Authentication
mozilla-django-oidc>=1.2.2
