{%WEB_HOST_NAME%}:{%WEB_HOST_PORT%} {
    # Uncomment the following to enable logging;
    log stdout
    errors stdout

    tls {%WEB_HOST_TLS%}  # Use `self_signed` to enable self_signed tls, or `off` to disable tls.  TLS not needed for OpenShift.

    # enable gzip compression
    gzip

    root /srv/

    # Openly exposed health check endpoint for OpenShift
    status 200 /health

    # Required for vue-router to work
    rewrite {
        regexp .*
        to {path} /
    }

    proxy /api {%DCBR_API_HOST%}:{%DCBR_API_PORT%} {
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }

    proxy /print-certificate {%WEASYPRINT_HOST%}:{%WEASYPRINT_PORT%}/pdf {
        without /print-certificate
        transparent
        fail_timeout 0 # see https://github.com/mholt/caddy/issues/1925
    }
}
